# Copy this file or single lines to ~/.gitconfig

[alias]
    co = checkout
    s = status
    cam = commit -am
    p = pull
    b = branch
  
    # Log display from screencast, with train tracks.
    l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %Cgreen%an%Creset, %ar%Creset'
    # Alternate log display from Scott Chacon
    lol = log --pretty=oneline --abbrev-commit --graph --decorate
    # Other useful aliases:
    unstage = reset HEAD
    staged = diff --cached
    unstaged = diff
    current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
    # Usage: git track origin/feature-123-login-form
    track = checkout -t
[apply]
    whitespace = warn
[help]
    autocorrect = 1
[status]
    submodule = 1
[push]
    # Only push branches that have been set up to track a remote branch.
    default = current
[color]
    branch = auto
    diff = auto
    status = auto
	ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
	excludesfile = /Users/jefffoster/.gitignore_global
    #fixes carriage returns from windows machines
	autocrlf = input
[user]
	name = Jeff Foster
	email = jeff@foster2.com
[merge]
    #tool = opendiff
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
